[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
bentley-ottmann = "==7.3.0"
rtree = "==1.0.1"
shapely = "==1.8.5.post1"
selenium = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.8"
